.bluebackground {
  background-color: #4AAAA5;
  color: white;
  height: 50px;
  padding: 15px;

}

.floatright {
  float: right;
  margin: 0px 50px;
}

h1 {
  color: #4AAAA5;

}

h2 {
  color: #4AAAA5;
  width: 100%;

}

.social {
  width: 30%;
  max-width: 100px;
  padding: 5px;
}

.border {
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
}

p {
  text-align: wrap;
}

#mypic {

}